* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Geneva, Arial, sans-serif;
    font-size: 12pt;
    margin: 10px;
}

.item-box {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 8pt;
    height: 300px;
    overflow: auto;
    margin-right: 10px;
}

.details-box {
    vertical-align: top;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 8pt;
    margin-right: 10px;
    overflow: auto;
    padding: 10px;
}

table.item-list {
    border-radius: 5px;
    border: 1px black solid;
    width: 100%;
    font-size: 8pt;
    background-color: #fff;
}

table.inner {
    border-collapse: collapse;
    border-spacing: 0px;
}

table.item-list th, td {
    padding-right: 5px;
    border: 0px;
    margin: 0px;
    border-spacing: 0px;
}
table.item-list th {
    padding-right: 5px;
    background-color: black;
    color: white;
}

table.item-list tr:nth-child(even) {
    background-color: #ccc;
}
table.item-list tr:nth-child(odd) {
    background-color: #fff;
}

td.clusternum, th.clusternum {
    width: 80px;
    text-align: right;
}
td.nrows, th.nrows {
    width: 80px;
    text-align: right;
}
td.ncols, th.ncols {
    width: 80px;
    text-align: right;
}

.inactive {
    color: #aaaaaa;
}

table.members {
    font-size: 9pt;
    border: 1px solid black;
    border-radius: 3px;
}
table.members th {
    background-color: #666666;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.members td {
    padding: 3px;
}

table.members tr:nth-child(odd) {
    background-color: #00ddee;
}

table.members tr:nth-child(even) {
    background-color: #ffffff;
}
