@(snapshot: Option[Snapshot], iterations: Seq[Int], iteration: Int,
statsIterations: Seq[Int], meanResiduals: Array[Double],
iterationStats: Map[Int, IterationStats],
rowStats: IntHistogram, columnStats: IntHistogram,
residualHistogram: ResidualHistogram)

@main("cMonkey/Python - Cluster View") {
   <script type="text/javascript">
     $(document).ready(function() {
         $('a.clusterlink').click(function () {
             var cluster = $(this).attr('id');
             $.get('/cluster/@iteration/' + cluster,
                   function(html) {
                       console.debug(html);
                       $(html).replaceAll('#cluster-view');
                   });
         });
         $('#select_iteration').change(function (event) {
             window.location.href = "/" + $(this).val();
         });

         // residual graph
         var residualChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'residual-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Mean Residual' },
             plotOptions: { line: { marker: { enabled: false }, } },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(statsIterations)),
                 tickInterval: 30
             },
             yAxis: { title: { text: 'mean resids' } },
             series: @(HighchartsFormatter.toHSSeries(meanResiduals))
         });
         // cluster member graph
         var clusterMemberChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-member-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Mean nrow, ncol/iter' },
             plotOptions: { line: { marker: { enabled: false }, } },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(statsIterations)),
                 tickInterval: 30
             },
             yAxis: { title: { text: 'mean nrow, ncol/iter' } },
             series: @(HighchartsFormatter.toNRowNColHSSeries(iterationStats))
         });

         // cluster nrows graph
         var clusterRowsChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-row-graph',
                 type: 'column',
                 width: 300, height: 200
             },
             title: { text: '# clusters -> # rows' },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(rowStats.xvalues)),
                 tickInterval: 5
             },
             yAxis: { title: { text: '# clusters' } },
             series: [ { name: '# rows', data: @(HighchartsFormatter.formatInts(rowStats.yvalues)) } ]
         });

         // cluster ncols graph
         var clusterColumnsChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-column-graph',
                 type: 'column',
                 width: 300, height: 200
             },
             title: { text: '# clusters -> # columns' },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(columnStats.xvalues)),
                 tickInterval: 2
             },
             yAxis: { title: { text: '# clusters' } },
             series: [ { name: '# columns', data: @(HighchartsFormatter.formatInts(columnStats.yvalues)) } ]
         });

         // cluster residual graph
         var clusterResidualChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-residual-graph',
                 type: 'column',
                 width: 300, height: 200
             },
             title: { text: 'cluster residuals' },
             xAxis: {
                 categories: @(HighchartsFormatter.formatStrings(residualHistogram.xvalues)),
                 tickInterval: 3
             },
             yAxis: { title: { text: '# clusters' } },
             series: [ { name: 'residual', data: @(HighchartsFormatter.formatInts(residualHistogram.yvalues)) } ]
         });

     });
   </script>
   <div><img style="float: right" src="@routes.Assets.at("images/isb_logo.png")"></img></div>
   <h2>cMonkey/Python Results</h2>
   <div>Iteration <select id="select_iteration">
   @for(iter <- iterations) {@if(iter == iteration) {<option value="@iter" selected>@iter</option>} else {<option value="@iter">@iter</option>}}
   </select>/2000: Available clusters (@snapshot.get.clusters.length)
   </div>

   <div style="height: 10px;">&nbsp;</div>
   <div class="ui-progress-bar ui-container" id="progress_bar" style="width: 20%; height: 15px;">
     <div class="ui-progress" style="height: 12px; width: @((iterations(iterations.length - 1) / 2000.0) * 100)%;">
       <span class="ui-label" style="display:none;">
         Loading Resources
         <b class="value">7%</b>
       </span>
     </div>
   </div>
   <div style="font-size: smaller">Progress: @((iterations(iterations.length - 1) / 2000.0) * 100) %</div>
   <div style="height: 10px;">&nbsp;</div>

   <div id="stats-box" class="stats-box">
     <span id="residual-graph" class="graph-left"></span><span id="cluster-member-graph" class="graph-center"></span>
     <div style="clear:both"></div>
   </div>


   <div id="stats-box" class="stats-box">
     <span id="cluster-row-graph" class="graph-left"></span><span id="cluster-column-graph" class="graph-center"></span>
     <div style="clear:both"></div>
   </div>

   <div id="stats-box" class="stats-box">
     <span id="cluster-residual-graph" class="graph-left"></span>
     <div style="clear:both"></div>
   </div>

   <div style="height: 10px;">&nbsp;</div>

   @if(snapshot == None) {
     No Snapshot
   } else {
     <table class="item-list">
       <tr><td><table class="inner"><tr><th class="clusternum">Cluster</th><th class="nrows"># rows</th><th class="ncols"># columns</th><th>&nbsp;</th></tr></table></td></tr>
       <tr><td><div style="height: 200px; overflow: auto; background-color: #fff;">
         <table class="inner">
       @for(key <- snapshot.get.clusters) {<tr><td class="clusternum"><a class="clusterlink" id="@key" href="#">@key</a></td><td class="nrows">@(snapshot.get.rows(key).length)</td><td class="ncols">@(snapshot.get.columns(key).length)</td><td>&nbsp;</td></tr>
       }
       </table></div></td></tr>
     </table>
   <div class="spacer">&nbsp;</div>
   <div class="details-box">
   <span id="cluster-view">Please select a cluster</div>
 </div>
   }
}
