@(snapshot: Option[Snapshot], iterations: Seq[Int], iteration: Int,
statsIterations: Seq[Int], meanResiduals: Array[Double], iterationStats: Map[Int, IterationStats])

@main("Play 2.0 - Cluster View") {
   <script type="text/javascript">
     $(document).ready(function() {
         $('a.clusterlink').click(function () {
             var cluster = $(this).attr('id');
             $.get('/cluster/@iteration/' + cluster,
                   function(html) {
                       console.debug(html);
                       $(html).replaceAll('#cluster-view');
                   });
         });
         $('#select_iteration').change(function (event) {
             window.location.href = "/" + $(this).val();
         });

         // residual graph
         var residualChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'residual-graph',
                 type: 'line',
                 width: 300,
                 height: 200
             },
             title: {
                 text: 'Mean Residual'
             },
             plotOptions: {
                 line: {
                     marker: {
                         enabled: false
                     },
                 }
             },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(statsIterations)),
                 tickInterval: 10
             },
             yAxis: {
                 title: {
                     text: 'mean resids'
                 }
             },
             series: @(HighchartsFormatter.toHSSeries(meanResiduals))
         });
         // cluster member graph
         var clusterMemberChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-member-graph',
                 type: 'line',
                 width: 300,
                 height: 200
             },
             title: {
                 text: 'Mean nrow, ncol/iter'
             },
             plotOptions: {
                 line: {
                     marker: {
                         enabled: false
                     },
                 }
             },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(statsIterations)),
                 tickInterval: 10
             },
             yAxis: {
                 title: {
                     text: 'mean nrow, ncol/iter'
                 }
             },
             series: @(HighchartsFormatter.toNRowNColHSSeries(iterationStats))
         });

     });
   </script>
   <h2>cMonkey/Python Results</h2>
   <h4>Iteration <select id="select_iteration">
   @for(iter <- iterations) {@if(iter == iteration) {<option value="@iter" selected>@iter</option>} else {<option value="@iter">@iter</option>}}
   </select>/2000: Available clusters (@snapshot.get.clusters.length)</h4>
   <div style="height: 10px;">&nbsp;</div>
   <p style="font-size: smaller">Progress: @((iterations(iterations.length - 1) / 2000.0) * 100) %</p>
   <div class="ui-progress-bar ui-container" id="progress_bar" style="width: 20%; height: 15px;">
     <div class="ui-progress" style="height: 12px; width: @((iterations(iterations.length - 1) / 2000.0) * 100)%;">
       <span class="ui-label" style="display:none;">
         Loading Resources
         <b class="value">7%</b>
       </span>
     </div>
   </div>

   <div style="height: 10px;">&nbsp;</div>
   <div id="stats-box" class="stats-box">
     <span id="residual-graph"></span><span id="cluster-member-graph"></span>
   </div>
   <div style="clear:both"></div>
   <div style="height: 10px;">&nbsp;</div>

   @if(snapshot == None) {
     No Snapshot
   } else {
   <div class="item-box">
     <ul class="item-list">
       @for(key <- snapshot.get.clusters) {<li><a class="clusterlink" id="@key" href="#">View Cluster @key</a></li>
       }
     </ul>
   </div>
   }
   <span class="details-box">
     <div id="cluster-view">Please select a cluster</div>
   </span>
}
