@(runInfo: RunInfo,
snapshot: Option[Snapshot],
meanResiduals: Array[Double],
iterationStats: Map[Int, IterationStats],
rowStats: IntHistogram, columnStats: IntHistogram,
residualHistogram: ResidualHistogram,
runLogs: Array[RunLog])

@main("cMonkey/Python - Cluster View") {
   <script type="text/javascript">
     $(document).ready(function() {
         $('a.clusterlink').click(function () {
             var cluster = $(this).attr('id');
             $.get('/cluster/@runInfo.currentIteration/' + cluster,
                   function(html) {
                       console.debug(html);
                       $(html).replaceAll('#cluster-view');
                   });
         });
         $('#select_iteration').change(function (event) {
             window.location.href = "/" + $(this).val();
         });
         var iterations = @(HighchartsFormatter.formatInts(runInfo.statsIterations));

         // residual graph
         var residualChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'residual-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Mean Residual' },
             plotOptions: { line: { marker: { enabled: false }, } },
             xAxis: {
                 categories: iterations,
                 tickInterval: 30
             },
             yAxis: { title: { text: 'mean resids' } },
             series: @(HighchartsFormatter.toHSSeries(meanResiduals))
         });
         // cluster member graph
         var clusterMemberChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-member-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Mean nrow, ncol/iter' },
             plotOptions: { line: { marker: { enabled: false }, } },
             xAxis: {
                 categories: iterations,
                 tickInterval: 30
             },
             yAxis: { title: { text: 'mean nrow, ncol/iter' } },
             series: @(HighchartsFormatter.toNRowNColHSSeries(iterationStats))
         });

         // cluster nrows graph
         var clusterRowsChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-row-graph',
                 type: 'column',
                 width: 300, height: 200
             },
             title: { text: '# clusters -> # rows' },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(rowStats.xvalues)),
                 tickInterval: 5
             },
             yAxis: { title: { text: '# clusters' } },
             series: [ { name: '# rows', data: @(HighchartsFormatter.formatInts(rowStats.yvalues)) } ]
         });

         // cluster ncols graph
         var clusterColumnsChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-column-graph',
                 type: 'column',
                 width: 300, height: 200
             },
             title: { text: '# clusters -> # columns' },
             xAxis: {
                 categories: @(HighchartsFormatter.formatInts(columnStats.xvalues)),
                 tickInterval: 2
             },
             yAxis: { title: { text: '# clusters' } },
             series: [ { name: '# columns', data: @(HighchartsFormatter.formatInts(columnStats.yvalues)) } ]
         });

         // cluster residual graph
         var clusterResidualChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'cluster-residual-graph',
                 type: 'column',
                 width: 300, height: 200
             },
             title: { text: 'cluster residuals' },
             xAxis: {
                 categories: @(HighchartsFormatter.formatStrings(residualHistogram.xvalues)),
                 tickInterval: 3
             },
             yAxis: { title: { text: '# clusters' } },
             series: [ { name: 'residual', data: @(HighchartsFormatter.formatInts(residualHistogram.yvalues)) } ]
         });
         var runlogChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'runlog-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Run parameters' },
             plotOptions: { line: { marker: { enabled: false }, } },
             yAxis: { title: { text: 'scaling' }, min: 0 },
             series: [
                 @for(runLog <- runLogs){
                     @if(runLog.functionName != "row_scoring"){
                         @(HighchartsFormatter.toHSSeriesEntry(runLog)),
                     }
                 }
             ]
         });

         var motifScoreChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'motif-score-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Median motif scores' },
             plotOptions: { line: { marker: { enabled: false }, } },
             xAxis: {
                 categories: iterations,
                 tickInterval: 30
             },
             yAxis: { title: { text: 'mean p-value' }, max: -0.5, min: -6 },
             series: @(HighchartsFormatter.toMotifPValueSeries(iterationStats, runLogs))
         });

         var networkScoreChart = new Highcharts.Chart({
             chart: {
                 renderTo: 'network-score-graph',
                 type: 'line',
                 width: 300, height: 200
             },
             title: { text: 'Mean network scores' },
             plotOptions: { line: { marker: { enabled: false }, } },
             xAxis: {
                 categories: iterations,
                 tickInterval: 30
             },
             yAxis: { title: { text: 'mean net score' }, max: 0, min: -3 },
             series: @(HighchartsFormatter.toNetworkScoreSeries(iterationStats, runLogs))
         });
     });
   </script>
   <div id="maincontainer">
     <div id="topsection">
       <div><img style="float: right" src="@routes.Assets.at("images/isb_logo.png")"></img></div>
       <h2>cMonkey/Python</h2>
       <div>Iteration <select id="select_iteration">
       @for(iter <- runInfo.iterations) {@if(iter == runInfo.currentIteration) {<option value="@iter" selected>@iter</option>} else {<option value="@iter">@iter</option>}}
       </select>/@runInfo.numIterations: Available clusters (@runInfo.clusters.length)
       </div>

       <div style="height: 10px;">&nbsp;</div>
       <div class="ui-progress-bar ui-container" id="progress_bar" style="width: 20%; height: 15px;">
         <div class="ui-progress" style="height: 12px; width: @runInfo.progress%;">
           <span class="ui-label" style="display:none;">
             Loading Resources
             <b class="value">7%</b>
           </span>
         </div>
       </div>
       <div style="font-size: smaller">Progress: @runInfo.progress %</div>
       <div class="start-info">Run started at @runInfo.startTime</div>
       @if(!runInfo.finished) {<div class="inprogress-info">Run in progress...</div>} else { <div class="finish-info">Run finished at @runInfo.finishTime</div> }
       <div style="height: 10px;">&nbsp;</div>
     </div>
     <h3>Statistics</h3>
     <div id="statssection">

       <div id="leftcolumn">
         <div class="innertube">
           <div id="cluster-row-graph"></div><div id="cluster-column-graph"></div><div id="motif-score-graph"></div>
         </div>
       </div>
       <div id="rightcolumn">
         <div class="innertube">
           <div id="residual-graph"></div><div id="cluster-member-graph"></div><div id="network-score-graph"></div>
         </div>
       </div>
       <div id="contentcolumn">
         <div class="innertube">
           <div id="cluster-residual-graph"></div><div id="runlog-graph"></div><div></div>
         </div>
       </div>
     </div>
     <div style="clear: both"></div>
     <h3>Clusters</h3>
     <div id="clustersection">
       @if(snapshot == None) {
       No Snapshot
       } else {
       <table class="item-list">
         <tr><td><table class="inner"><tr><th class="position">#</th><th class="clusternum">Cluster</th><th class="nrows"># rows</th><th class="ncols"># columns</th><th class="residual">residual</th><th>&nbsp;</th></tr></table></td></tr>
         <tr><td><div style="height: 200px; overflow: auto; background-color: #fff;">
           <table class="inner">
             @for(i <- 0 until runInfo.clusters.length) {<tr><td class="position">@(i + 1)</td><td class="clusternum"><a class="clusterlink" id="@(runInfo.clusters(i))" href="#">@(runInfo.clusters(i))</a></td><td class="nrows">@(snapshot.get.rows(runInfo.clusters(i)).length)</td><td class="ncols">@(snapshot.get.columns(runInfo.clusters(i)).length)</td><td class="residual">@(snapshot.get.residuals(runInfo.clusters(i)))</td><td>&nbsp;</td></tr>
             }
         </table></div></td></tr>
       </table>
       <div class="spacer">&nbsp;</div>
       <div class="details-box">
         <span id="cluster-view">Please select a cluster</div>
       </div>
       }
       }
     </div>
   </div>
