@(configForm: Form[RunConfig])
@main("cMonkey/Python - Configure and start run") {
<script type="text/javascript">
  $(document).ready(function() {
  }
</script>

<div id="maincontainer">
  <div id="topsection">
    <div><img style="float: right" alt="Institute for Systems Biology" src="@routes.Assets.at("images/isb_logo.png")"></div>
    <h2>cMonkey/Python - Start a run</h2>
    <h3>Parameters</h3>
    <br>
    @helper.form(action=routes.Application.submitrun, 'enctype -> "multipart/form-data") {
      <div>@helper.inputText(configForm("organism"), 'size -> 10, '_label -> "KEGG organism code")</div><br>
      <div><span class="caption">Gene Expression Matrix</span></div>
      <div><span class="caption">Upload</span> <input type="file" name="ratios"></div>
      <div><span>or</span>
      <div>@helper.inputText(configForm("url"), 'size -> 100, '_label -> "URL")<br>
        <!--
      <div><input type="button" value="Add additional parameter..."></div><br>
      -->
      <div><input type="submit" value="Start"></div>
    }
  </div>
</div>
}
