<!doctype html>
<html>
  <head>
    <title>cMonkey2</title>
    <link rel="stylesheet" media="screen" href="/static/stylesheets/main.css">
    <link rel="stylesheet" media="screen" href="/static/stylesheets/jquery.dataTables.css">
    <link rel="stylesheet" media="screen" href="/static/javascripts/jquery-ui-1.11.2.custom/jquery-ui.min.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <script src="/static/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery-ui-1.11.2.custom/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/javascripts/highcharts.js" type="text/javascript"></script>
    <script src="/static/javascripts/highcharts-more.js" type="text/javascript"></script>
    <script src="/static/javascripts/modules/exporting.js" type="text/javascript"></script>
    <script src="/static/javascripts/seqlogo.js" type="text/javascript"></script>
    <script src="/static/javascripts/raphael-min.js"></script>
    <script src="/static/javascripts/gene_annotations.js" type="text/javascript"></script>
    <script src="/static/javascripts/cytoscape.min.js" type="text/javascript"></script>
    <script src="/static/javascripts/springy.js" type="text/javascript"></script>
    <script src="/static/javascripts/cmviewer_util.js" type="text/javascript"></script>

    <style media="all" type="text/css">
      .alignRight { text-align: right; }

      #cy {
        font-family: helvetica neue, helvetica, arial, sans-serif;
        height: 400px;
        width: 90%;
        position: absolute;
        left: 10;
        top: 100;
      }
      #network-tab { height: 500px}
    </style>

    <script type="text/javascript">
      $(document).ready(function() {
         var currentIteration = $('#select_iteration').val();
         if (!currentIteration) currentIteration = 1;
         $('#progressbar').progressbar({value: 0.0});
         $('.progress-label').text("0.0%");

         $('#tabs').tabs({
            activate: function(event, ui) {
              var active = $('#tabs').tabs("option", "active");
              if (active == 2) {
                var residuals = $('#residual-slider').slider("values");
                var evalues = $('#evalue-slider').slider("values");
                initCytoweb(currentIteration, residuals[0], residuals[1],
                            evalues[0], evalues[1]);

              } else if (active == 1) {
                $('#cluster-list').dataTable().fnAdjustColumnSizing();
                var iteration = $('#select_iteration').val();
                $('#cluster-list').DataTable().ajax.url('/clusters/' + iteration).load();
              }
            }
         });

         $('#cluster-list').dataTable({
           'bPaginate': false,
           'bFilter': false,
           'bSort': true,
           'bInfo': false,
           'bServerSide': true,
           'sScrollY': 300,
           'sScrollX': '100%',
           'bProcessing': true,
           'oLanguage': {
             'sSearch': 'Display clusters containing gene: ',
           },
           'aoColumns': [
             { 'sWidth': '30px', 'sClass': 'alignRight', 'bSortable': false },
             { 'sWidth': '60px', 'sClass': 'alignRight' },
             { 'sWidth': '60px', 'sClass': 'alignRight' },
             { 'sWidth': '60px', 'sClass': 'alignRight' },
             { 'sWidth': '70px', 'sClass': 'alignRight' },
             { 'bSortable': true }
           ],
           'searching': true,
           'sAjaxSource': '/clusters/' + currentIteration,
         }).on('draw.dt', function() {
            $('a.clusterlink').click(assignClusterClickHandlers);
         });

        // sliders
        $('#residual-slider').slider({
          range: true,
          slide: function(event, ui) {
            var values = $('#residual-slider').slider("values");
            $('#residual-range').html('[' + values[0] + '-' + values[1] + ']');
          },
          stop: function(event, ui) {
            var residuals = $('#residual-slider').slider("values");
            var evalues = $('#evalue-slider').slider("values");
            initCytoweb(currentIteration, residuals[0], residuals[1], evalues[0], evalues[1]);
          }
        });
        $('#evalue-slider').slider({
          range: true,
          slide: function(event, ui) {
            var values = $('#evalue-slider').slider("values");
            $('#evalue-range').html('[' + values[0] + '-' + values[1] + ']');
          },
          stop: function(event, ui) {
            var residuals = $('#residual-slider').slider("values");
            var evalues = $('#evalue-slider').slider("values");
            initCytoweb(currentIteration, residuals[0], residuals[1], evalues[0], evalues[1]);
          }
        });

        // other stuff
        updateRunStatus();
        startTimer();
      });
    </script>
  </head>
  <body>
   <div id="maincontainer">
     <div id="topsection">
       <div><img style="float: right" alt="Institute for Systems Biology" src="/static/images/isb_logo.png"></div>
       <a href="/"><img src="/static/images/cmonkey2_logo.png" style="width:80px" title="cMonkey 2 Viewer"></a>
       <div id="progress-section">
         <div id="progressbar"><div class="progress-label">Running...</div></div>
         <div id="progress-info">
           <div class="start-info">Run started at {{runinfo.start_time}}</div>
           <div id="finish-info"></div>
         </div>
       </div>
       <div style="height: 10px;">&nbsp;</div>
       <div style="height: 10px;">&nbsp;</div>

       <div class="run-info">
         {{runinfo.species}} ({{runinfo.organism}})<br>{{runinfo.num_rows}} genes, {{runinfo.num_columns}} conditions, {{runinfo.num_clusters}} clusters
       </div>
       <div>&nbsp;</div>

       <!-- Dynamically replaced -->
       <div id="iteration_select"></div>
       <div style="height: 10px;">&nbsp;</div>

     </div>

     <div id="tabs">
       <ul>
         <li><a href="#stats-tab">Statistics</a></li>
         <li><a href="#cluster-tab">Clusters</a></li>
         <li><a href="#network-tab">Network</a></li>
       </ul>

       <div id="stats-tab">
         <div id="statssection">
           <div id="leftcolumn">
             <div class="innertube">
               <div id="cluster-row-graph"></div><div id="cluster-column-graph"></div><div id="mean-score-graph"></div>
             </div>
           </div>
           <div id="rightcolumn">
             <div class="innertube">
               <div id="residual-graph"></div><div id="cluster-member-graph"></div><div id="network-score-graph"></div>
             </div>
           </div>
           <div id="contentcolumn">
             <div class="innertube">
               <div id="cluster-residual-graph"></div><div id="runlog-graph"></div><div id="fuzzy-graph"></div>
             </div>
           </div>
         </div>
         <div style="clear: both"></div>
       </div>

       <div id="cluster-tab">
         <div id="clustersection">
           <table class="item-list" id="cluster-list">
             <thead>
               <tr><th>#</th><th>Cluster</th><th># rows</th><th># columns</th><th>residual</th><th>motif/e-value</th></tr>
             </thead>
             <tbody>
             </tbody>
           </table>
           <div class="spacer">&nbsp;</div>
           <div class="details-box">
             <span id="cluster-view">Please select a cluster</span>
           </div>
         </div>
       </div>

       <div id="network-tab">
         <div id="slider-section">
           <div id="left-slider-column">
             <div>Cluster residual</div>
             <div style="font-size: 9pt" id="residual-range">[{{min_residual}}-{{max_residual}}]</div>
             <div id="residual-slider"></div>
           </div>
           <div id="right-slider-column">
             <div>Motif e-value (log10 scale)</div>
             <div style="font-size: 9pt" id="evalue-range">[{{min_evalue}}-{{max_evalue}}]</div>
             <div id="evalue-slider"></div>
           </div>
         </div>

         <div id="cy"></div>
       </div> <!-- network tab -->

     </div>
   </div>

  </body>
</html>
